[init]
  defaultBranch = main
  templatedir = ~/git-templates/git-secrets
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[color "branch"]
  current = green
  remote = yellow
[color "diff"]
  meta = yellow bold
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[alias]
  a = add
  b = branch
  s = status
  ch = checkout
  cm = commit
  cp = cherry-pick
  d = diff
  p = push origin
  pf = push --force origin
  ri = rebase -i --autostash
  r = rebase --autostash
[user]
  name = Ryo Ichiki
  email = ryichk@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
