# See https://help.github.com/articles/ignoring-files for more about ignoring files.

.DS_Store
.env

# Ignore bundler config.
.bundle
/vendor

# Ignore all logfiles and tempfiles.
*.log
log/*
tmp/*

# npm
/node_modules

# Compiled Python files
*.pyc
